.block

  = render "layouts/svg/rss_feed_icon"

  %span.p-1.text-green-500.text-xs.border.rounded-lg.border-green-500
    = item.rss_feed.title

= link_to item.title, item.link, class: "no-underline hover:underline text-blue-500", target: "_blank", rel: "noopener noreferrer"
