= javascript_pack_tag "home/index"

.py-12.bg-white
  .max-w-screen-xl.mx-auto.px-4.sm:px-6.lg:px-8
    .lg:text-center
      %p.text-base.leading-6.text-indigo-600.font-semibold.tracking-wide.uppercase
        Omnomnews
      %h3.mt-2.text-3xl.leading-8.font-extrabold.tracking-tight.text-gray-900.sm:text-4xl.sm:leading-10
        A better way stay up-to-date

    .app-container
