- unless rodauth.login_form_footer_links.empty?
  %h2= t("rodauth.shared.other_links")
  %ul
    - rodauth.login_form_footer_links.sort.each do |_, link, text|
      %li
        = link_to text, link, class: "no-underline hover:underline text-blue-500"
