.mb-5
  = label_tag "login", t("rodauth.fields.login.label"), class: "block text-sm font-medium text-gray-700 dark:text-gray-300"
  = email_field_tag rodauth.login_param, params[rodauth.login_param], id: "login", readonly: true, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
