.mb-5
  = label_tag "new-password", t("rodauth.fields.new_password.label"), class: "block text-sm font-medium text-gray-700 dark:text-gray-300"
  = render "field", name: rodauth.new_password_param, id: "new-password", type: "password", value: "", autocomplete: "new-password"
