.col-span-6
  = label_tag "new-password", "New Password", class: "block text-sm font-medium text-gray-700"
  = render "field", name: rodauth.new_password_param, id: "new-password", type: "password", value: "", autocomplete: "new-password"
