.mb-5
  = label_tag "password", t("rodauth.fields.password.label"), class: "block text-sm font-medium text-gray-700 dark:text-gray-300"
  = render "field", name: rodauth.password_param, id: "password", type: :password, value: "", autocomplete: rodauth.password_field_autocomplete_value
