.mb-5
  = label_tag "password-confirm", t("rodauth.fields.confirm_password.label"), class: "block text-sm font-medium text-gray-700"
  = render "field", name: rodauth.password_confirm_param, id: "password-confirm", type: :password, value: "", autocomplete: "new-password"
