.col-span-6
  = label_tag "password", "Password", class: "block text-sm font-medium text-gray-700"
  = render "field", name: rodauth.password_param, id: "password", type: :password, value: "", autocomplete: rodauth.password_field_autocomplete_value
