.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  = form_tag rodauth.close_account_path, method: :post do
    = render "password_field" if rodauth.close_account_requires_password?
    = render "submit", value: t("rodauth.close_account.submit"), class: "btn btn-danger"
